<section class="details-page">
    <h1>Details</h1>
    {{#with book}}
    <article class="details-card">

        <article class="details-card-text">
            <h2>Title:<br>{{title}}</h2>
            <h3>Author: {{author}}</h3>
            <h3>Stars: {{stars}}</h3>
            <h3>Genre: {{genre}}</h3>
            <h3>Review: {{bookReview}}</h3>
        </article>
        <article class="details-card-image">
            <img src="{{imageUrl}}">
        </article>

    </article>
    {{/with}}
</section>